/* Core *//* Components */.menu-trigger {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0271bc;
  border: 0 solid;
  z-index: 1;
}

.menu-close {
  width: 44px;
  height: 44px;
  position: absolute;
  color: #fff;
  background-color: #f26002;
  border: solid 2px #f26002;
  z-index: 1;
}

.windowBtn {
  color: #f26002;
  border: solid 2px #f26002;
  border-radius: 22.5px;
  width: 76px;
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  background-color: #fff;
}

.reasonsBtn {
  color: #fff;
  border: solid 2px #f26002;
  border-radius: 22.5px;
  width: 184px;
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  background-color: #f26002;
  justify-self: center;
  margin-bottom: 60px;
  margin-top: 45px;
}

.arrow-down {
  background-color: #fff;
  border-radius: 22.5px;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
}

.arrow-up {
  background-color: #fff;
  border-radius: 22.5px;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  -ms-flex-item-align: center;
  align-self: center;
}/* Layout */footer {
  background-color: #304268;
  width: 100%;
  height: 128px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  text-align: center;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

footer .arrow-up {
  grid-column: 2;
  grid-row: 1;
  position: absolute;
  left: 26%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer .copyright {
  grid-column: 2;
  grid-row: 1;
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .copyright p {
  margin: 0;
  padding: 0;
}

footer span {
  color: #f26002;
}

.heroPic {
  background: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.heroText {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 284px;
}

.heroText .heroText p {
  font-size: 16px;
}

.heroText .heroTitle {
  font-size: 42px;
  line-height: 55px;
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
  font-weight: 700;
}

header {
  position: relative;
}

.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
  -webkit-transition: background ease 0.5s, -webkit-transform ease 1s 0.5s;
  transition: background ease 0.5s, -webkit-transform ease 1s 0.5s;
  transition: transform ease 1s 0.5s, background ease 0.5s;
  transition: transform ease 1s 0.5s, background ease 0.5s, -webkit-transform ease 1s 0.5s;
}

.show .menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background ease 0.8s 0.8s, -webkit-transform ease 0.8s;
  transition: background ease 0.8s 0.8s, -webkit-transform ease 0.8s;
  transition: transform ease 0.8s, background ease 0.8s 0.8s;
  transition: transform ease 0.8s, background ease 0.8s 0.8s, -webkit-transform ease 0.8s;
}

.container {
  background-color: transparent;
  margin: 0;
  height: 100%;
  z-index: 1;
}

.showCompleteMenu {
  position: relative;
  list-style: none;
  width: 276px;
  height: 100%;
  background-color: #fff;
}

.showCompleteMenu a {
  text-decoration: none;
  color: #4a4a4a;
  display: block;
}

.showCompleteMenu .menu-item1 {
  padding-top: 44px;
  display: block;
}

.showCompleteMenu .menu-item {
  margin-bottom: 25px;
  padding-left: 25px;
  display: block;
}

.menu-close {
  position: absolute;
  top: 0;
  left: 100%;
}

.menuList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.show .menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}/* Pages */* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
}

.window {
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.window h2 {
  color: #8ccbea;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 1px;
}

.window h3 {
  margin-top: 0;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.window p {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #4a4a4a;
}

.reasons {
  background-color: #eff9ff;
  text-align: center;
  width: 100%;
  display: grid;
}

.reasons h3 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  padding-top: 30px;
}

.reasons h4 {
  margin-bottom: 0;
}

.reasons p {
  margin-top: 0;
  line-height: 30px;
}

.reasonsList {
  padding-left: 73px;
  padding-right: 73px;
}

.divReasons {
  background-color: #eff9ff;
  text-align: center;
  width: 100%;
  display: grid;
  padding-left: 73px;
  padding-right: 73px;
}

.divReasons h4 {
  margin-bottom: 0;
}

.divReasons p {
  margin-top: 0;
  line-height: 30px;
}

.reasons-title {
  font-size: 18px;
}

@media all and (min-width: 700px) {
  .heroText {
    padding-top: 20%;
  }

  .heroText .heroTitle {
    font-size: 80px;
    line-height: 106px;
  }

  .reasonsList {
    display: grid;
    grid-auto-flow: column;
  }

  .divReasons {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media all and (min-width: 1028px) {
  .windowBtn {
    width: 109px;
    height: 45px;
  }

  .window {
    padding-left: 275px;
    padding-right: 275px;
    margin-top: 60px;
  }
}

@media all and (min-width: 1280px) {
  .heroText {
    padding-top: 9%;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 0;
  }

  .heroText .heroTitle {
    font-size: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
