$darkColour: #304268;
$brightColour: #f26002;
$lightColour: #0271bc;
$lightBlue: #eff9ff;
$lighterColour: #8ccbea;
$blackColour: #000000;
$darkGrey: #4a4a4a;
$whiteColour: #fff;

$fontBold: 'Roboto Slab', sans-serif;
$fontRegular: 'Roboto', sans-serif;
