*{
box-sizing: border-box;
}
html{
	min-height: 100vh;
	margin: 0;
	padding: 0;
}
body{
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: $fontBold;
}

.window {
	margin-bottom: 30px;
	h2{
	color: $lighterColour;
	font-size: 14px;
	}
	h3{
		font-size: 24px;
	}
	p{
		color: $darkGrey;
	}
}

.reasons{
	background-color: $lightBlue;
	display: grid;
	grid-template-columns: 1fr 31% 31% 1fr;
	grid-template-rows: 25% 1fr 1fr 1fr 1fr;
	grid-gap: 0;
	text-align: center;
	width: 100%;
	padding: 0;
	h3{
		font-size: 24px;
		grid-row: 1;
		grid-column: span 4;
		margin-bottom: 0;
	}
	h4{
		font-size: 18px;
		font-family: $fontBold;
	}
	p{
		font-size: 18px;
		// font-family: $fontRegular;
	}
	.reason1{
		grid-row: 2;
		grid-column: span 2 / 4;
	}
	.reason2{
		grid-row: 3;
		grid-column: span 2 / 4 ;
	}
	.reason3{
		grid-row: 4;
		grid-column: span 2 / 4;
	}
	.reasonsBtn{
		grid-row: 5;
		grid-column: 2 / 4;
		margin-top: 45px;
	}
}
