header {
	background-color: $lightColour;
	position: relative;
	button{
		background-color: $lightColour;
		width: 44px;
		height: 44px;
	}
	}
	.menu{
		background-color: $lightColour 0.5;
		width: 100%;
		height: 100vh;
		position: fixed;
		transform: translateX(-150%);
		z-index: 1;
		top: 0;
		left: 0;
		cursor: pointer;
		transition: transform ease 0.8s, background ease 2s 0.7s;
	// &:hover {
	// 	background: $darkColour;
	// }
}
.showCompleteMenu{
	position: relative;
	list-style: none;
	width: 276px;
	height: 100%;
	background-color: $whiteColour;


	a{
	text-decoration: none;
		color: $darkGrey;
		display: block;
	}
	.menu-item1{
		padding-top: 44px;
		display: block;
	}
	.menu-item{
		margin-bottom: 25px;
		padding-left: 25px;
		display: block;
	}
}
.menu-close{
	position: absolute;
	top: 0;
	left: 100%;
}
.menuList{
	margin: 0;
	padding: 0;
	list-style: none;
}
.show .menu{
	transform: translateX(0);
}
.closingMenu{
	position: relative;
	right: -160px;
	transition: left ease 1.5s;
	z-index: 1;
}
.darkenBack{
	background-color: opacity
}
