header {
	position: relative;
	// button{
	// 	background-color: $lightColour;
	// 	width: 44px;
	// 	height: 44px;
	// }
	}
	.menu{
		// background-color: rgba(0, 0, 0, 0);
		width: 100%;
		height: 100vh;
		position: fixed;
		transform: translateX(-150%);
		z-index: 1;
		top: 0;
		left: 0;
		cursor: pointer;
		transition: transform ease 1s 0.5s, background ease 0.5s; //salida
		.show &{
			transform: translateX(0);
			width: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			transition: transform ease 0.8s, background ease 0.8s 0.8s; //entrada
		}
	// &:hover {
	// 	background: $darkColour;
	// }
}
.container{
background-color: rgba(0, 0, 0, 0);
 margin: 0;
 height: 100%;
 z-index: 1;
}
.showCompleteMenu{
	position: relative;
	list-style: none;
	width: 276px;
	height: 100%;
	background-color: $whiteColour;
	a{
	text-decoration: none;
		color: $darkGrey;
		display: block;
	}
	.menu-item1{
		padding-top: 44px;
		display: block;
	}
	.menu-item{
		margin-bottom: 25px;
		padding-left: 25px;
		display: block;
	}
}
.menu-close{
	position: absolute;
	top: 0;
	left: 100%;
}
.menuList{
	margin: 0;
	padding: 0;
	list-style: none;
}
.show .menu{
	transform: translateX(0);
}
// .closingMenu{
// 	position: relative;
// 	right: -160px;
// 	transition: left ease 1.5s;
// 	z-index: 1;
// }
