.menu-trigger{
	width: 44px;
	height: 44px;
	position: absolute;
	background-color: $lightColour;
	z-index: 1;
}
.menu-close{
	width: 44px;
	height: 44px;
	position: absolute;
	color: $whiteColour;
	background-color: $brightColour;
	border: solid 2px $brightColour;
	// left: -100%;
	z-index: 1;
}
.windowBtn{
	color: $brightColour;
	border: solid 2px $brightColour;
	border-radius: 22.5px;
	width: 76px;
	height: 45px;
	font-size: 20px;
	line-height: 45px;
	background-color: $whiteColour;
}
.reasonsBtn{
	color: $whiteColour;
	border: solid 2px $brightColour;
	border-radius: 22.5px;
	width: 184px;
  height: 45px;
	font-size: 20px;
	line-height: 45px;
	background-color: $brightColour;
	justify-self: center;
}
